<h3>Comment New</h3>
<form>
  <div>
    <label>Author:</label>
    {{input class='form-control' type="text" value=model.author}}
  </div>
  <div>
    <label>Body:</label>
    {{textarea class='form-control' rows="5" value=model.body}}
  </div>

  <div>
    <button class="btn btn-primary"{{action 'save'}}>Save</button>
    <button class="btn btn-primary"{{action 'cancel'}}>Cancel</button>
  </div>
</form>
