
<h3>Posts Index</h3>
<ol>
  {{#each model as |post|}}
    <li>
      {{#link-to 'post' post}}
      <h1>  {{post.title}} </h1>
      {{/link-to}}
      <button class="btn btn-default" {{action 'delete' post}}>Delete</button>
        <button class="btn btn-default" {{action 'edit' post}}>Edit</button>
    </li>
  {{/each}}
</ol>
<button class="btn btn-default">{{#link-to 'post.new'}}New Post{{/link-to}}</button>
{{outlet}}
